html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.root {
  height: 100%;
}

.content {
flex: 1 0 auto;
}

main{
  padding: 0 20rem;
}

/*ABOUT ME STYLING*/



.about-me .media-body {
    padding: 0 2rem;
}

.me {
  height: 300px;
  width: 300px;
  background-image: url("./assets/images/me.JPG");
  background-size: cover;
  border-radius: 50%;
  background-position: 2px -30px;
  background-repeat: no-repeat;

}


/*PORTFOLIO PAGE STYLING*/
.self-portrait {
  border-radius: 8px;
}

.portfolio {
 width: 100%;
 height: auto;

}

.project-link, .project-link:hover {
text-decoration: none;
color: white;
}


.project-link:hover .card-body {
  background: lightgray;
}


/*CONTACT ME PAGE*/ 
 a {
  padding: 10px;
  justify-content: space-around;
}

.social-media {
  font-size: 20px;
  padding: 0 2rem;
  align-items: center;
}

.social-media .icons i {
font-size: 2rem;
}

div.contact {
  display: flex;
  align-items: center;
  width: 100%;

}

.contact > * {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn:hover {
  opacity: 1
}

/*FOOTER*/
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}